In [311]:
# !pip install -U googlemaps
# !pip install geopandas

In [7]:
import googlemaps
import re
import matplotlib.pyplot as plt
import os

In [8]:
gmaps = googlemaps.Client(key='AIzaSyBQjnZoRHimmacluj9MpOtBglMNt6J00zM')

In [10]:
# a=(53.3710101,-6.3342556)
# b=(53.4924879,-6.136279)
# dst = distance.euclidean(a, b)
# dst = dst*100
# dst
import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [11]:
dst = distance((53.34751929,-6.278844342),(53.3470665,-6.2743487))
dst

0.3026349109362678

In [12]:
# gmaps.distance_matrix((53.3710101,-6.3342556),(53.4924879,-6.136279),mode='walking',transit_routing_preference='less_walking')
# dst = distance((53.3710101,-6.3342556),(53.4924879,-6.136279))
# dst
wakable_distance=gmaps.distance_matrix((53.34751929,-6.278844342),(53.3470665,-6.2743487),mode='walking',transit_routing_preference='less_walking')
print(wakable_distance)
print(wakable_distance['rows'][0]['elements'][0]['distance']['text'])

{'destination_addresses': ['Bridewell Garda Station, 28 Chancery St, Smithfield, Dublin 7, D07 E424, Ireland'], 'origin_addresses': ['1 Haymarket, Northside, Dublin, Ireland'], 'rows': [{'elements': [{'distance': {'text': '0.4 km', 'value': 384}, 'duration': {'text': '5 mins', 'value': 289}, 'status': 'OK'}]}], 'status': 'OK'}
0.4 km

In [7]:
import pandas as pd

In [8]:
os. getcwd()

'C:\\Users\\Akhilesh\\Desktop'

In [9]:
df1 = pd.read_csv("daftrent_May31st.csv")

In [10]:
df1

,Location,Area,Area code,Price(in Euros),House_type,Beds,Bathroom,Area_code,latitude,longitude,Entered,Views
0,Parnell Square West|| Dublin 1,Dublin 1,D01,2350,Apartment to Rent,2,2,D00,53.352069,-6.264353,30.05.2020,261
1,North Frederick Street|| Dublin 1,Dublin 1,D01,1400,Apartment to Rent,1,1,D01,53.355038,-6.264109,30.05.2020,3746
2,Apartment 10 Behan Sq|| 14 Russell St|| Dublin 1,Dublin 1,D01,2200,Apartment to Rent,2,1,D01,53.358795,-6.254438,30.05.2020,188
3,O'Connell Street Upper 1 Bed|| Dublin 1,Dublin 1,D01,1500,Apartment to Rent,1,1,D00,53.352384,-6.261213,30.05.2020,7508
4,The Asgard|| Custom House Harbour|| Dublin 1,Dublin 1,D01,2000,Apartment to Rent,2,1,D00,53.350669,-6.247787,30.05.2020,1606
...,...,...,...,...,...,...,...,...,...,...,...,...
1869,The Waterside|| Charlotte Quay Dock|| Grand Ca...,Dublin 4,D04,2380,Apartment to Rent,2,2,D00,53.382477,-6.313367,29.05.2020,622
1870,Francis Street|| Christchurch|| Dublin 8,Dublin 8,D08,1850,Apartment to Rent,1,1,D00,53.392871,-6.260079,29.05.2020,324
1871,Old Town Avenue|| Santry|| Dublin 9,Dublin 9,D09,950,Studio apartment to Rent,2,1,D00,53.392869,-6.260081,29.05.2020,3431
1872,Ongar House|| Ongar|| Dublin 15,Dublin 15,D15,1800,Apartment to Rent,2,2,D00,53.395098,-6.438388,25.05.2020,340
1873,Ongar House|| Ongar|| Dublin 15,Dublin 15,D15,2100,Apartment to Rent,3,3,D00,53.395096,-6.438390,25.05.2020,284

### Retail

In [13]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Retail Store')

In [14]:
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)

In [15]:
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,ALDI,"St Margaret's Rd, Northside, Finglas, Co. Dubl...",D11,ARW5,Discount supermarket,4.2,1099.0,53.398635,-6.304434
1,ALDI,"Santry Ave, Santry, Dublin, D09 H218",D09,H218,Discount supermarket,4.3,1363.0,53.399572,-6.254207
2,ALDI,"Old Lucan Road, Palmerstown Lower, Palmerstown...",D20,DT92,Discount supermarket,4.4,261.0,53.357841,-6.377260
3,ALDI,"38-41 Parnell St, Rotunda, Dublin, D01 F295",D01,NaN,Store,4.3,1251.0,53.349747,-6.268753
4,ALDI,"Main Street, Buzzardstown, Dublin, D15 FP99",D15,NaN,Discount supermarket,4.3,1010.0,53.401460,-6.396199
...,...,...,...,...,...,...,...,...,...
459,Tesco Superstore,"Link Rd, Holywell, Swords, Co. Dublin",D03,NaN,Supermarket,4.2,720.0,53.445380,-6.214465
460,Tesco Superstore,"Rathfarnham Shopping Centre, Butterfield Ave, ...",D14,NaN,Supermarket,3.8,240.0,53.297725,-6.296705
461,Tesco Superstore,"Dundrum Town Centre, Dundrum, Co. Dublin",D16,NaN,Supermarket,3.7,117.0,53.286441,-6.241863
462,Tesco Superstore,"Nutgrove Shopping Centre, Rathfarnham, Co. Dublin",D14,NaN,Supermarket,3.6,83.0,53.289511,-6.267480
463,Tyre Centre,"Taylors Lane R133, Ballyboden, Dublin",D16,NaN,Tire shop,4.7,17.0,53.281614,-6.289006

In [16]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
# wakable_radius = distance((tuple(property_tmp),tuple(property1_tmp),(tuple(aminities_tmp),tuple(aminities1_tmp))))
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.75)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [19]:
Final_distance

,wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score
0,0.5,53.352069,-6.264353,53.349747,-6.268753,0.7
1,0.6,53.352069,-6.264353,53.348820,-6.269062,0.7
2,0.5,53.352069,-6.264353,53.352547,-6.259053,0.7
3,0.5,53.352069,-6.264353,53.350983,-6.270398,0.7
4,0.2,53.352069,-6.264353,53.351228,-6.263648,0.7
...,...,...,...,...,...,...
17562,0.7,53.392869,-6.260081,53.388793,-6.256746,0.7
17563,0.7,53.392869,-6.260081,53.389192,-6.266146,0.7
17564,0.7,53.392869,-6.260081,53.395228,-6.264411,0.7
17565,0.2,53.395098,-6.438388,53.395340,-6.439703,0.7
17566,0.2,53.395096,-6.438390,53.395340,-6.439703,0.7

In [20]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [21]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(17567, 18)
(17567, 22)

In [22]:
Final_distance_data.to_csv(r'C:/Users/Akhilesh/Desktop/Retail_score_final.csv', index = False)

### Bus Stop

In [11]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Bus stop')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,"Ashtown, Ashtown Roundabout","Ashtown, Dublin",D15,NaN,Bus stop,3.7,3.0,53.371580,-6.330482
1,"Ashtown, Navan Road","Ashtown, Dublin",D15,NaN,Bus stop,NaN,NaN,53.370658,-6.327702
2,"Cabra, Navan Road (Nephin Road)","Ashtown, Dublin",D15,NaN,Bus station,NaN,NaN,53.365137,-6.309269
3,"Castleknock Road, Stop 1667","Ashtown, Dublin",D15,NaN,Bus stop,NaN,NaN,53.371010,-6.334256
4,"Rathbourne Avenue, Stop 5145","Ashtown, Dublin",D15,NaN,Bus stop,2.0,1.0,53.377197,-6.326754
...,...,...,...,...,...,...,...,...,...
2378,"Cloghran, Cruiserath Road","Ballycoolen, Dublin",D11,NaN,Bus stop,NaN,NaN,53.409915,-6.368446
2379,"Cloghran, Business Park (Ballycoolin Road)","Ballycoolen, Dublin",D11,NaN,Bus stop,NaN,NaN,53.405877,-6.356477
2380,Brock Inn,"Broghan, Co. Dublin",D11,NaN,Bus stop,5.0,1.0,53.433660,-6.333221
2381,"Brittas Grange, Stop 4071","Glenaraneen, Co. Dublin",D24,NaN,Bus stop,NaN,NaN,53.241367,-6.455802
2382,Balrothery (Opp Balrothery Inn),"Balrothery, Co. Dublin",D24,NaN,Bus stop,1.0,1.0,53.587968,-6.189527

In [12]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<0.6):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<0.6):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(1)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [13]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [14]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(17441, 18)
(17441, 22)

In [15]:
Final_distance_data.to_csv(r'C:/Users/Akhilesh/Desktop/Bus_stop_final.csv', index = False)

### Gym,Yoga

In [17]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Gym, swimming and yoga')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Aura De Paul Swimming Pool,"Saint Vincents Centre, Navan Rd, Ashtown, Dubl...",D07,DH42,Swimming pool,4.5,194.0,53.368882,-6.323035
1,Marian Swimming Pool,"Lansdowne Rd, Ballsbridge, Dublin 4",D04,HC65,Swimming pool,4.5,117.0,53.332566,-6.226057
2,Mespil Swimming Pool,"Mespil House Flats, 4 Sussex Rd, Dublin, D04 H9T0",D04,H9T0,Public swimming pool,3.7,97.0,53.331516,-6.250590
3,Sean McDermott Street Pool,"Sean Macdermott Street Lower, Mountjoy, Dublin",D01,NaN,Swimming pool,4.2,80.0,53.353859,-6.252517
4,Crumlin Swimming Pool,"80A Windmill Rd, Crumlin, Dublin 12, D12 Y5Y2",D12,Y5Y2,Swimming pool,4.1,44.0,53.323879,-6.312960
...,...,...,...,...,...,...,...,...,...
375,DLRCoCo All Weather Pitch,"Enniskerry Rd, Jamestown, Dublin",D18,NaN,Gym,4.2,28.0,53.247560,-6.201997
376,Finglas Area Office & Sports Centre,"11 Mellowes Rd, Finglas West, Dublin, D11 E6K2",D11,E6K2,Gym,4.3,252.0,53.389625,-6.308765
377,Iveagh Fitness Club,"Bride Road, Christchurch Pl, Wood Quay, Dublin 8",D08,NaN,Gym,4.2,203.0,53.341578,-6.270880
378,St James Gate Health and Fitness Club,"Watling St, The Liberties, Dublin 8",D08,X7Y2,Gym,4.2,37.0,53.344112,-6.285172
379,Positive Fitness,"6 Shamrock Villas, Harold's Cross, Terenure, D...",D6W,DH67,Gym,5.0,2.0,53.322763,-6.280093

In [18]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.15)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [33]:
# distance_df.drop(distance_df.index, inplace=True)
# wakable_radius.clear()
# property_coord.clear()
# aminities_coord.clear()
# wakable_distance.clear()
# property_latitude.clear()
# property_longitude.clear()
# aminities_latitude.clear()
# aminities_longitude.clear()
# score.clear()
# Final_distance.drop(Final_distance.index,inplace=True)

In [19]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [20]:
Final_distance_data.to_csv(r'C:/Users/Akhilesh/Desktop/Gym_Yoga_score_final.csv', index = False)

### Post office

In [315]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Post office and mailing')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,"An Post, General Post Office","O'Connell Street Lower, North City, Dublin 1",D01,TX31,Post office,4.4,347.0,53.349349,-6.260721
1,Post Delivery Services Unit,"Bannow Rd, Northside, Dublin, D07 AX73",D07,AX73,Post office,3.5,24.0,53.370494,-6.292479
2,St. Andrew's St. Post Office,"19 St Andrew's St, Dublin, D02 C966",D02,T382,Post office,4.0,22.0,53.343816,-6.261424
3,Cabra Post Office,"40 Faussagh Rd, Northside, Dublin, D07 DFK0",D11,P3Y0,Post office,4.8,9.0,53.364802,-6.286852
4,Usher's Quay Post Office,"5 Usher's Quay, Dublin 8, D08 W449",D08,W449,Post office,2.9,9.0,53.345325,-6.276420
...,...,...,...,...,...,...,...,...,...
130,AN POST Kilnamanagh Shopping Centre,"Kilnamanagh Shopping Centre, Mayberry Rd, Kiln...",D24,NaN,Post office,4.0,4.0,53.299562,-6.359797
131,An Post Depot,"St Margaret's Rd, Charlestown, Finglas, Co. Du...",D11,NaN,Post office,1.0,1.0,53.403724,-6.303870
132,An Post Delivery Office,"36, Fonthill Business Park, Fonthill Rd, Yello...",D22,NaN,Mailing service,4.0,152.0,53.350590,-6.408710
133,An Post Baggot Street Upper Post Office,"13 Baggot Street Upper, Dublin, D04 W7K5",D04,W7K5,Post office,5.0,1.0,53.333581,-6.244781
134,An Post,"Bayside Shopping Centre, Bayside Square E, Nor...",D13,C2F6,Post office,3.8,5.0,53.388278,-6.140610

In [316]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.2)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [317]:
Final_distance

,wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score
0,0.6,53.352069,-6.264353,53.349349,-6.260721,0.5
1,0.7,53.352069,-6.264353,53.356628,-6.264363,0.5
2,0.9,53.352069,-6.264353,53.358806,-6.269857,0.5
3,0.5,53.352069,-6.264353,53.354260,-6.262082,0.5
4,0.6,53.352069,-6.264353,53.349251,-6.260447,0.5
...,...,...,...,...,...,...
4122,0.8,53.377402,-6.274070,53.379453,-6.266410,0.5
4123,0.4,53.382479,-6.313365,53.384524,-6.311698,0.5
4124,0.4,53.382477,-6.313367,53.384524,-6.311698,0.5
4125,0.7,53.392871,-6.260079,53.395296,-6.264406,0.5
4126,0.7,53.392869,-6.260081,53.395296,-6.264406,0.5

In [318]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [319]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(4127, 18)
(4129, 27)

In [324]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Retail_score_post_office_final.xlsx', index = False)

### Train and tram

In [326]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Train and tram')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Charlemont Luas Stop,"2 Grand Parade, Saint Kevin's, Dublin, D06 CX34",D06,CX34,Tram stop,4.3,67.0,53.330925,-6.258834
1,Heuston,"Heuston Station, St John's Rd W, Dublin",D08,NaN,Train station,4.2,244.0,53.346185,-6.293492
2,Heuston,"Saint James' (part of Phoenix Park), Dublin",D08,NaN,Tram stop,4.1,7.0,53.346651,-6.291903
3,Saggart Luas Stop,"Fortunestown, Saggart, Co. Dublin",D24,NaN,Tram stop,3.8,14.0,53.284641,-6.437762
4,Connolly Station,"1 Amiens St, North Dock, Dublin",D01,AN81,Transit stop,3.9,275.0,53.351526,-6.249678
...,...,...,...,...,...,...,...,...,...
87,Belgard Luas Stop,"Cookstown, Dublin",D24,NaN,Tram stop,3.8,11.0,53.298921,-6.375407
88,Belgard,"Cookstown, Dublin",D24,NaN,Tram stop,5.0,2.0,53.299292,-6.375066
89,Beechwood,"Ranelagh, Dublin",D06,NaN,Tram stop,4.8,8.0,53.320850,-6.254563
90,Ballyogan Wood,"Sandyford, Dublin",D18,NaN,Tram stop,3.0,11.0,53.255069,-6.184418
91,Balally,"Drummartin, Dublin",D14,NaN,Tram stop,4.4,20.0,53.286055,-6.236711

In [329]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(1)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [330]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [331]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(2919, 18)
(2919, 22)

In [332]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Retail_score_train_tram_final.xlsx', index = False)

### Garda

In [333]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Garda')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,An Garda Síochána Headquarters,"Phoenix Park, Northside, Dublin, D08 HN3X",D08,A7X8,Police,4.0,6.0,53.354579,-6.301498
1,Ballyfermot Garda Station,"Rossmore Ave, Drumfinn, Dublin",D10,NaN,Police station,4.1,8.0,53.344754,-6.358053
2,Ballymun Garda Station,"Ballymun Rd, Northside, Dublin",D09,NaN,Traffic police station,4.5,12.0,53.394374,-6.263922
3,Bridewell Garda Station,"Chancery St, Northside, Dublin",D07,NaN,Civil police,5.0,5.0,53.347066,-6.274349
4,Cabra Garda Station,"Nephin Rd, Cabra West, Dublin, D07 XN61",D07,XN61,Civil police,3.4,14.0,53.365012,-6.307702
5,Clontarf Garda Station,"4 Clontarf Rd, Clontarf, Dublin",D03,V4K8,Police station,4.0,6.0,53.363411,-6.220210
6,Coolock Garda Station,"5 Oscar Traynor Rd, Kilmore, Coolock, Co. Dublin",D17,NaN,Civil police,3.2,11.0,53.390335,-6.201095
7,Crumlin Garda Station,"23 St Agnes Rd, Crumlin, Dublin, D12 C588",D12,C588,Police station,3.7,6.0,53.319569,-6.314994
8,Donnybrook Garda Station,"43 Donnybrook Rd, Ranelagh, Dublin 4, D04 XC78",D04,XC78,Police station,2.3,3.0,53.321720,-6.235774
9,Dundrum Garda Station,"Kilmacud Rd Upper, Dundrum, Dublin",D14,NaN,State police,3.7,11.0,53.289491,-6.242477
10,Finglas Garda Station,"Finglas North, Dublin",D11,NaN,State police,3.3,12.0,53.389656,-6.306434
11,Fitzgibbon Street Garda Station,"1 Fitzgibbon St, Mountjoy, Dublin 1, D01 R2K5",D01,A5Y9,Police department,4.3,3.0,53.357832,-6.255665
12,Garda Shankill,"Dorney Ct, Shanganagh, Dublin",D18,NaN,Police station,3.9,8.0,53.233488,-6.120737
13,Garda Station,"Cabinteely Garda Station, Bray Rd, Kilbogget, ...",D18,FX56,Police department,4.8,4.0,53.260790,-6.150646
14,Howth Garda Station,"Dunbo Hill, Howth, Dublin",D13,NaN,Police department,2.5,2.0,53.387380,-6.068886
15,Irishtown Garda Station,"57 Irishtown Rd, Dublin",D04,CA43,Federal police,4.3,8.0,53.338111,-6.223035
16,Kevin Street District Garda Station,"41 Kevin Street Upper, Wood Quay, Dublin",D08,R83C,Police station,3.5,15.0,53.338328,-6.269445
17,Kilmainham Garda Station,"High Road, Kilmainham Ln, Kilmainham, Dublin 8",D08,N9WT,Police department,4.0,8.0,53.341948,-6.304575
18,Mountjoy Garda Station,"399 N Circular Rd, Northside, Dublin 7, D07 CH02",D07,CH02,Police station,2.7,11.0,53.360530,-6.266834
19,Pearse Street Garda Station,"1-6 Pearse St, Dublin 2, D02 W289",D02,W289,Police station,3.1,43.0,53.345689,-6.256194
20,Police Station,"Strandville Avenue East, Clontarf West, Dublin",D03,NaN,Police station,NaN,NaN,53.363390,-6.220214
21,Raheny District Garda Station,"All Saints Rd, Clontarf East, Dublin",D05,NaN,Civil police,4.2,20.0,53.378845,-6.178075
22,Rathcoole Garda Station,"Main St, Rathcoole, Co. Dublin",D24,NaN,Civil police,3.0,2.0,53.281814,-6.464697
23,Rathfarnham Garda Station,"Butterfield Ave, Rathfarnham, Dublin",D14,NaN,Police station,3.7,6.0,53.297410,-6.288549
24,Rathmines Garda Station,"196 Rathgar Rd, Rathmines, Dublin 6, D06 YW20",D06,NaN,Police station,3.9,8.0,53.321341,-6.266999
25,Ronanstown Garda Station,"St Ronans Avenue, Clondalkin, Dublin",D22,NaN,Civil police,2.8,9.0,53.337878,-6.406166
26,Santry Garda Station,"Shanowen Rd, Whitehall, Dublin 9",D09,NaN,Police station,3.1,9.0,53.389963,-6.250635
27,Store Street Garda Station,"4-6 Store St, Mountjoy, Dublin 1, D01 W773",D01,W773,Police department,3.2,26.0,53.350467,-6.252193
28,Sundrive Road Garda Station,"110 Crumlin Rd, Crumlin, Dublin",D12,EP02,Police academy,5.0,1.0,53.330200,-6.298698
29,Tallaght Garda Station,"Tallaght, Dublin",D24,NaN,Police department,1.8,22.0,53.286807,-6.367589
30,Terenure Garda Station,"30-32 Terenure Rd W, Terenure, Dublin 6W, Co. ...",D6W,XT44,Police station,2.4,7.0,53.309743,-6.288021

In [334]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<2.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<2.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.4)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [335]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [336]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(4134, 18)
(4134, 22)

In [337]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/score_garda_final.xlsx', index = False)

### Bank

In [338]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Bank')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,AIB,"Carrickmines, Co. Dublin",D18,NaN,Bank,3.9,23.0,53.250958,-6.182087
1,Aareal Bank AG Dublin Branch,"The Gables, Torquay Rd, Foxrock, Dublin 18",D18,A2N7,Bank,NaN,NaN,53.267086,-6.184409
2,Bank of America Merrill Lynch Limited,"Block D Central Park, Carmanhall and Leopardst...",D18,N924,Bank,4.7,11.0,53.271594,-6.203083
3,Grenke,"Suite 306, Q House, Furze Rd, Sandyford Busine...",D18,PN30,Financial institution,1.0,1.0,53.274049,-6.215030
4,Allied Irish Banks Plc,"Unit 33 Blackthorn Road, Sandyford, Dublin",D18,NaN,Bank,2.3,6.0,53.277236,-6.206496
...,...,...,...,...,...,...,...,...,...
155,AIB Bank,"Swords Road, Santry, Dublin 9",D09,DK44,Bank,3.7,19.0,53.395098,-6.246068
156,AIB Bank,"Ballymun Civic Centre, Ballymun, Dublin",D11,NaN,Bank,5.0,4.0,53.395294,-6.263805
157,Ulster Bank (Finglas),"Unit 1C, Charlestown Shopping Centre, St Marga...",D11,H243,Bank,2.9,11.0,53.403924,-6.302608
158,Bank of Ireland,"Ground Floor, Block 1, Blanchardstown Corporat...",D15,AKK1,Bank,4.2,5.0,53.409109,-6.369327
159,Bank of Ireland Collinstown Cross,"2-3, Omega House, Collinstown Cross, Cloghran,...",D22,CD82,Bank,2.9,7.0,53.416988,-6.240120

In [339]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.5)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [340]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [341]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(8681, 18)
(8681, 22)

In [343]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Bank_score_final.xlsx', index = False)

### Fire station

In [344]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Fire station')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Dublin Fire Brigade HQ,"165-169 Townsend St, Dublin 2, D02 RY99",D02,RY99,Fire station,4.2,12.0,53.345759,-6.254012
1,Phibsborough Fire Station - Dublin Fire Brigade,"Phibsborough Rd, Phibsborough, Dublin, D07 X3TV",D07,X3TV,Fire station,4.5,2.0,53.357717,-6.274122
2,Finglas Fire Station - Dublin Fire Brigade,"Mellowes Ave, Northside, Finglas, Co. Dublin, ...",D11,NaN,Fire station,5.0,2.0,53.390150,-6.303394
3,Dolphin's Barn Fire Station - Dublin Fire Brigade,"Parnell Rd, Drimnagh, Dolphins Barn, Co. Dubli...",D12,C520,Fire station,5.0,6.0,53.331576,-6.292688
4,Kilbarrack Fire Station - Dublin Fire Brigade,"Kilbarrack Road Kilbarrack, Dublin, D05 WF64",D05,WF64,Fire station,4.6,7.0,53.390896,-6.168221
5,Blanchardstown Fire Station - Dublin Fire Brigade,"Snugborough Rd, Coolmine, Dublin, D15 ET89",D15,NaN,Fire station,4.5,2.0,53.384644,-6.395870
6,Tallaght Fire Station - Dublin Fire Brigade,"Belgard Rd, Kingswood, Dublin 22, D22 RD68",D24,R7YV,Fire station,5.0,4.0,53.307359,-6.382882
7,North Strand Fire Station - Dublin Fire Brigade,"N Strand Rd, North Dock, Dublin, D03 YV26",D03,YV26,Fire station,NaN,NaN,53.359802,-6.239403
8,Dublin Fire Garage,"4 Stable Ln, Northside, Dublin",D06,DX96,Fire station,NaN,NaN,53.351174,-6.280339
9,Dublin Airport Fire Station,"Huntstown, Dublin",D15,NaN,Fire station,5.0,1.0,53.427125,-6.262449
10,No 1. Donnybrook Fire Station,"4 Donnybrook Rd, Ranelagh, Dublin, D04 W6R9",D04,VE84,Fire station,5.0,4.0,53.321974,-6.237413
11,Nutgrove Fire Station,"Whitehall, Dublin",D09,NaN,Fire station,5.0,2.0,53.291754,-6.264983
12,Donnybrook Fire Station - Dublin Fire Brigade,"19 - 23 Donnybrook Rd, Ranelagh, Donnybrook, C...",D04,NC43,Fire station,NaN,NaN,53.321914,-6.237472
13,KSS Fire Suppresion,"78A Cookstown Industrial Estate, Tallaght, Co....",D24,NaN,Fire station,NaN,NaN,53.294996,-6.374226

In [347]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<2.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<2.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.4)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [348]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [349]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(2204, 18)
(2204, 22)

In [350]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Fire_station_final.xlsx', index = False)

### Library

In [351]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Library')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Cabra Library,"Navan Road, Dublin, D07 AYW1",D07,AYW1,Public library,4.7,17.0,53.361735,-6.299663
1,Finglas Library,"Finglas Village Centre,, Jamestown Rd, Ballyga...",D11,K330,Public library,4.1,15.0,53.389183,-6.297732
2,Dublin City Library & Archive,"144 Pearse St, Dublin 2, D02 DE68",D02,A320,Library,4.3,12.0,53.343160,-6.245250
3,The Long Room Of The Old Library At Trinity Co...,Dublin,D01,NaN,Library,4.5,192.0,53.343956,-6.256800
4,Central Library,"Henry St, North City, Dublin 1",D01,XH90,Public library,4.1,65.0,53.350253,-6.264369
...,...,...,...,...,...,...,...,...,...
82,South Dublin County Council Mobile Library Stop,"2-20 Broadfield Meadows, Tootenhill, Rathcoole...",D24,C780,Public library,1.0,1.0,53.279337,-6.482125
83,South Dublin County Council Mobile Library Stop,"1 Aylmer Ave, Commons Little, Newcastle, Co. D...",D22,VY44,Public library,NaN,NaN,53.299042,-6.493012
84,South Dublin County Council Mobile Library Stop,"Gortlum, Co. Dublin",D01,NaN,Public library,NaN,NaN,53.234790,-6.450793
85,Baldoyle Library,"The Mall, Baldoyle, Dublin, D13 Y304",D13,Y304,Library,4.6,13.0,53.396859,-6.125746
86,Empire Digital Ballyfermot,"308 Ballyfermot Rd, Drumfinn, Dublin 10, D10 E985",D10,E985,Library,3.3,4.0,53.342470,-6.353494

In [352]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.2)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [353]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [354]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(3313, 18)
(3313, 22)

In [355]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Library_final.xlsx', index = False)

### Hospital

In [356]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Hospital')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Connolly Hospital Blanchardstown,"Mill Rd, Abbotstown, Dublin, D15 X40D",D15,X40D,Hospital,3.2,112.0,53.388303,-6.368848
1,"Inchicore Primary Care Centre, HSE","St Michael's Estate, Inchicore, Dublin",D08,NaN,Hospital,3.0,2.0,53.338727,-6.316247
2,Mater Misericordiae University Hospital - Rapi...,"The Forge, Smithfield Market, Smithfield, Dubl...",D07,VKP9,Urgent care center,3.2,25.0,53.349612,-6.278297
3,"A&E - Accident & Emergency Department, Temple ...","Temple St, Rotunda, Dublin",D06,NaN,Hospital,NaN,NaN,53.357068,-6.261357
4,The Mater Misericordiae University Hospital,"Eccles St, Northside, Dublin 7, D07 R2WY",D07,R2WY,Hospital,2.9,227.0,53.359859,-6.265669
...,...,...,...,...,...,...,...,...,...
250,Medixclinic,"Beacon Court, Bracken Rd, Sandyford Business P...",D18,C4H1,Medical clinic,4.3,23.0,53.276324,-6.219715
251,Darndale Health Centre,"Darndale Village, Darndale, Dublin",D17,NaN,Dental clinic,4.0,11.0,53.401451,-6.194546
252,Millbrook Lawns Health Centre,"St Dominick's Rd, Tallaght, Dublin",D24,NaN,Community health centre,4.5,4.0,53.284654,-6.355424
253,Slievemore Clinic,"Old Dublin Rd, Stillorgan, Dublin",D04,NaN,Medical clinic,4.0,25.0,53.292561,-6.201525
254,Allergy Ireland Dr Paul Carson & Dr Iseult She...,"First Floor, Old Dublin Road, Stillorgan, Dubl...",D14,NaN,Allergist,NaN,NaN,53.292526,-6.201168

In [357]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.5)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [360]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [362]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(8029, 18)
(8029, 22)

In [361]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Hospital_final.xlsx', index = False)

### Pharmacy

In [363]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Pharmacy')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Hickey's Pharmacy,"55 O'Connell Street Lower, North City, Dublin ...",D01,W2V3,Pharmacy,3.7,30.0,53.347638,-6.259761
1,Meaghers Pharmacy Kinvara Park,"41 Kinvara Park, Ashtown, Dublin 7, D07 P584",D07,P584,Pharmacy,3.6,11.0,53.369012,-6.318337
2,Hickey's Pharmacy,"3 Cardiffsbridge Rd, Cappagh Rd, Northside, Fi...",D11,W623,Pharmacy,5.0,8.0,53.389638,-6.311224
3,City Pharmacy Ltd,"14 Dame St, Dublin 2, D02 XH24",D02,XH24,Pharmacy,3.9,47.0,53.344053,-6.265455
4,McCabe's Pharmacy,"Glasnevin Ave, Finglas East, Ballymun, Dublin,...",D11,TX4R,Pharmacy,4.2,13.0,53.390169,-6.274422
...,...,...,...,...,...,...,...,...,...
326,Bourkes Allcare Pharmacy,"220 Rathmines Rd Lower, Rathmines, Dublin 6",D06,XC59,Pharmacy,5.0,1.0,53.323421,-6.265321
327,Cromcastle Pharmacy,"69A Cromcastle Rd, Kilmore, Dublin",D05,A6X5,Pharmacy,5.0,4.0,53.396402,-6.222016
328,Meda Health Sales Ireland Limited,"Apartment 6, Apartment building, Saint Nathy's...",D14,YH61,Pharmacy,NaN,NaN,53.295128,-6.257705
329,totalhealth Pharmacy,"43 Northwood Ct, Northwood Park, Santry, Dubli...",D09,NA02,Pharmacy,NaN,NaN,53.401964,-6.261144
330,Cronin's Pharmacy,"Edenmore Shopping Centre, Edenmore, Raheny, Co...",D05,EV67,Pharmacy,5.0,7.0,53.388356,-6.182659

In [364]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.2)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [365]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [366]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(11339, 18)
(11339, 22)

In [367]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Pharmacy_final.xlsx', index = False)

### Religious activity

In [368]:
df = pd.read_excel("amenities_d01_24.xlsx", 'Religious activity')
df.drop(columns=['Price level','Opening Hours','Search Keyword','Search Location','Claimed','Map Link','Date Add'],inplace=True)
df

,Company Name,Address,Zip/Postal,Code,Type,Rating,Total Reviews,Latitude,Longitude
0,Abbey Street Methodist Church,"1 Abbey Street Lower, North City, Dublin",D01,K6R2,Methodist church,4.5,68,53.348712,-6.258178
1,Immanuel Gospel Mission Church IGM Dublin,"1st Floor, 11 Keypoint, Rosemount Business Par...",D11,NaN,Pentecostal church,5.0,9,53.399246,-6.347275
2,Assembly Of God Ireland Ministry Dublin,"2 Rutland Pl, Rotunda, Dublin, D01 FP66",D01,FP66,Christian church,4.5,8,53.353763,-6.261279
3,Dublin Krishna Temple,"83 Middle Abbey St, North City, Dublin 1, D01 ...",D01,EV91,Hindu temple,4.8,24,53.348427,-6.260764
4,St Francis Xavier's Church,"Gardiner Street Upper, Mountjoy, Dublin, D01 RK07",D01,RK07,Catholic church,4.7,184,53.357996,-6.259553
...,...,...,...,...,...,...,...,...,...
80,Grosvenor Road Baptist Church,"15A Grosvenor Rd, Rathmines, Dublin 6, D06 AH26",D06,AH26,Church,4.5,51,53.319805,-6.271971
81,St Mary's Priory,"Main St, Tallaght Village, Dublin, D24 X585",D24,X585,Catholic church,4.6,164,53.288496,-6.360704
82,Lifegate Bible Baptist Church,"3 Main St, Tallaght, Dublin, D24 DPK2",D24,N9P1,Baptist church,4.9,20,53.288410,-6.356644
83,"Church of the Incarnation, Fettercairn","Kilcarrig Ave, Fettercairn, Dublin 24",D24,E1N8,Church,4.4,30,53.291269,-6.391410
84,Church of Our Lady of Mount Carmel,"Ballycullen Ave, Tymon South, Dublin 24",D24,NaN,Catholic church,4.3,38,53.280371,-6.340554

In [369]:
for i in df:
    aminities_tmp=list(df.Latitude)
    aminities1_tmp=list(df.Longitude)
for i in df1:
    property_tmp=list(df1.latitude)
    property1_tmp=list(df1.longitude)
i=0
j=0
k=0
l=0
m=0
wakable_distance=[]
property_latitude=[]
property_longitude=[]
aminities_latitude=[]
aminities_longitude=[]
wakable_radius=[]
property_coord=[]
aminities_coord=[]
score=[]
n=len(aminities_tmp)
n1=len(property_tmp)
Final_distance= pd.DataFrame(columns =['wakable_distance','property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])

while(i<n1):
#     wakable_radius.clear()
#     property_coord.clear()
#     aminities_coord.clear()
    j=0
    while(j<n):
        dst=distance((property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j]))
        if(dst<1.0):
            wakable_radius.append(dst)
            property_coord.append((property_tmp[i],property1_tmp[i]))
            aminities_coord.append((aminities_tmp[j],aminities1_tmp[j]))
#             radius_retail.append((dst,(property_tmp[i],property1_tmp[i]),(aminities_tmp[j],aminities1_tmp[j])))
        j=j+1
    distance_df= pd.DataFrame(list(zip(wakable_radius,property_coord,aminities_coord)),
                              columns =['radius', 'property_coord','aminities_coord'])
#     print(len(distance_df))
#     print(distance_df)
    wakable_radius.clear()
    property_coord.clear()
    aminities_coord.clear()
    wakable_distance.clear()
    property_latitude.clear()
    property_longitude.clear()
    aminities_latitude.clear()
    aminities_longitude.clear()
    score.clear()
    k=0
    while(k<len(distance_df)):
        wakable_dist_tmp=gmaps.distance_matrix(distance_df.property_coord[k],distance_df.aminities_coord[k],mode='walking',transit_routing_preference='less_walking',units='metric')
        wakable_distance_tmp=wakable_dist_tmp['rows'][0]['elements'][0]['distance']['text']
        r=re.search(r" m",wakable_distance_tmp,re.I|re.S)
        if(r):
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])/1000
        else:
            dst_tmp=wakable_distance_tmp.split()
            wakable_distance_tmp=float(dst_tmp[0])
        if(wakable_distance_tmp<1.0):
            wakable_distance.append(wakable_distance_tmp)
            property_latitude.append(distance_df.property_coord[k][0])
            property_longitude.append(distance_df.property_coord[k][1])
            aminities_latitude.append(distance_df.aminities_coord[k][0])
            aminities_longitude.append(distance_df.aminities_coord[k][1])     
        k=k+1
#     print(wakable_distance)
# #     print(distance_df.property_coord[0][0])
#     print(property_latitude)
#     print(property_longitude)
#     print(aminities_latitude)
#     print(aminities_longitude)
    total_aminities= len(wakable_distance)
    total_points=len(wakable_distance)*5
#     print(total_aminities)
#     print(total_points)
    m=0
    while(m<len(wakable_distance)):
        score.append(0.4)
        m=m+1
    Final_distance_tmp=pd.DataFrame(list(zip(wakable_distance,property_latitude,property_longitude,aminities_latitude,aminities_longitude,score)),
                          columns =['wakable_distance', 'property_latitude','property_longitude',
                                       'aminities_latitude','aminities_longitude','score'])
    Final_distance=Final_distance.append(Final_distance_tmp,ignore_index = True)
#     print(Final_distance)
#     while(l<len(wakable_distance)):
#         Final_distance.append(list(zip(wakable_distance[l],property_latitude[l],property_longitude[l],aminities_latitude[l],aminities_longitude[l])))
#         l=l+1
    distance_df.drop(distance_df.index, inplace=True)
    i=i+1

In [373]:
Final_distance_data_tmp = pd.merge(df1,Final_distance,left_on='latitude',right_on='property_latitude') 
Final_distance_data=pd.merge(Final_distance_data_tmp,df,left_on='aminities_latitude',right_on='Latitude')
Final_distance_data.drop(columns=['longitude','latitude','Total Reviews',
                                  'Latitude','Longitude'],inplace=True)

In [374]:
print(Final_distance_data_tmp.shape)
print(Final_distance_data.shape)

(2918, 18)
(2918, 22)

In [372]:
Final_distance_data.to_excel(r'C:/Users/Akhilesh/Desktop/Religious_final.xlsx', index = False)