In [1]:
import re
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns

C:\Users\Akhilesh\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [30]:
retail_prediction = pd.read_excel("Retail_cluster_prediction.xlsx")

In [31]:
retail_prediction

,Cluster Labels,Location,Retail_stores,Area,Area code,property_latitude,property_longitude,Predicted_distance
0,1,1 Howth Lodge|| Howth|| Dublin 13,0,Dublin 13,D13,53.391055,-6.084403,0.586667
1,1,1 Iona Court|| Iona Villas|| Glasnevin|| Dublin 9,0,Dublin 9,D09,53.368056,-6.265257,0.766667
2,1,1 Kiltipper Rise|| Kiltipper|| D24VAF4|| Talla...,0,Dublin 24,D24,53.269783,-6.371204,0.640000
3,1,10 Airpark Close|| Rathfarnham|| Dublin 16,0,Dublin 16,D16,53.274776,-6.303783,0.646133
4,1,10 Cedar Grove|| Templeogue|| Dublin 6w,0,Dublin 6,D06,53.289345,-6.321807,0.600000
...,...,...,...,...,...,...,...,...
358,1,Wilford House|| Shankill|| Dublin 18,0,Dublin 18,D18,53.214227,-6.121371,0.566067
359,1,Windward|| 93 Barton Road East|| Churchtown|| ...,0,Dublin 14,D14,53.287351,-6.256489,0.680000
360,1,Woodberry|| The Birches|| Torquay Road|| Foxro...,0,Dublin 18,D18,53.270212,-6.183716,0.573333
361,1,Woodfield|| Westminster Road|| Foxrock|| Dubli...,0,Dublin 18,D18,53.266892,-6.182433,0.573333
362,1,Woodland|| Avalon|| Foxrock|| Dublin 18,0,Dublin 18,D18,53.264296,-6.183821,0.573333

In [32]:
retail_prediction.rename(columns={'Area code':'Area_code'},inplace=True)
# retail_prediction.drop(columns=['Area_Code'],inplace=True)
retail_prediction

,Cluster Labels,Location,Retail_stores,Area,Area_code,property_latitude,property_longitude,Predicted_distance
0,1,1 Howth Lodge|| Howth|| Dublin 13,0,Dublin 13,D13,53.391055,-6.084403,0.586667
1,1,1 Iona Court|| Iona Villas|| Glasnevin|| Dublin 9,0,Dublin 9,D09,53.368056,-6.265257,0.766667
2,1,1 Kiltipper Rise|| Kiltipper|| D24VAF4|| Talla...,0,Dublin 24,D24,53.269783,-6.371204,0.640000
3,1,10 Airpark Close|| Rathfarnham|| Dublin 16,0,Dublin 16,D16,53.274776,-6.303783,0.646133
4,1,10 Cedar Grove|| Templeogue|| Dublin 6w,0,Dublin 6,D06,53.289345,-6.321807,0.600000
...,...,...,...,...,...,...,...,...
358,1,Wilford House|| Shankill|| Dublin 18,0,Dublin 18,D18,53.214227,-6.121371,0.566067
359,1,Windward|| 93 Barton Road East|| Churchtown|| ...,0,Dublin 14,D14,53.287351,-6.256489,0.680000
360,1,Woodberry|| The Birches|| Torquay Road|| Foxro...,0,Dublin 18,D18,53.270212,-6.183716,0.573333
361,1,Woodfield|| Westminster Road|| Foxrock|| Dubli...,0,Dublin 18,D18,53.266892,-6.182433,0.573333
362,1,Woodland|| Avalon|| Foxrock|| Dublin 18,0,Dublin 18,D18,53.264296,-6.183821,0.573333

In [7]:
df_pop = pd.read_excel("Dublin_population.xlsx")

In [8]:
df_pop.drop(columns=['Name','Status','County'],inplace=True)

In [9]:
pop_sum = df_pop.groupby(['Area_Code']).sum().reset_index()
pop_sum.drop(columns=['Density km2'],inplace=True)
pop_sum

   Area_Code  Population
0        D01       27643
1        D02       24513
2        D03       49254
3        D04       37950
4        D05       39217
5        D06       65484
6        D07       50491
7        D08       51110
8        D09       51937
9        D10       22091
10       D11       52072
11       D12       49924
12       D13       45241
13       D14       42981
14       D15      112066
15       D16       67677
16       D17       17985
17       D18       66272
18       D20       14202
19       D22       51148
20       D24       97982

In [10]:
pop_dense = df_pop.groupby(['Area_Code']).mean().reset_index()
pop_dense.drop(columns=['Population'],inplace=True)
pop_dense.rename(columns={'Density km2':'Density_km2'},inplace=True)
pop_dense

   Area_Code   Density_km2
0        D01  15007.666667
1        D02   7537.500000
2        D03   5361.071429
3        D04   4735.333333
4        D05   4762.142857
5        D06   5563.200000
6        D07   8429.066667
7        D08   9050.166667
8        D09   5346.928571
9        D10   5557.857143
10       D11   4895.294118
11       D12   5327.722222
12       D13   4382.428571
13       D14   3727.062500
14       D15   3247.833333
15       D16   3625.823529
16       D17   3910.285714
17       D18   2460.928571
18       D20   2616.000000
19       D22   2155.375000
20       D24   3405.687500

In [11]:
pop_density = pd.merge(pop_dense,pop_sum,on='Area_Code') 
pop_density

   Area_Code   Density_km2  Population
0        D01  15007.666667       27643
1        D02   7537.500000       24513
2        D03   5361.071429       49254
3        D04   4735.333333       37950
4        D05   4762.142857       39217
5        D06   5563.200000       65484
6        D07   8429.066667       50491
7        D08   9050.166667       51110
8        D09   5346.928571       51937
9        D10   5557.857143       22091
10       D11   4895.294118       52072
11       D12   5327.722222       49924
12       D13   4382.428571       45241
13       D14   3727.062500       42981
14       D15   3247.833333      112066
15       D16   3625.823529       67677
16       D17   3910.285714       17985
17       D18   2460.928571       66272
18       D20   2616.000000       14202
19       D22   2155.375000       51148
20       D24   3405.687500       97982

In [33]:
retail_prediction = pd.merge(retail_prediction,pop_density,left_on='Area_code',right_on='Area_Code')
retail_prediction.drop(columns=['Area_code','Area_Code'],inplace=True)
retail_prediction

,Cluster Labels,Location,Retail_stores,Area,property_latitude,property_longitude,Predicted_distance,Density_km2,Population
0,1,1 Howth Lodge|| Howth|| Dublin 13,0,Dublin 13,53.391055,-6.084403,0.586667,4382.428571,45241
1,1,119 Grange Abbey Grove|| Donaghmede|| Dublin 13,0,Dublin 13,53.397079,-6.154749,0.476133,4382.428571,45241
2,1,12 Duncarraig|| Sutton|| Dublin 13,0,Dublin 13,53.380458,-6.096468,0.560000,4382.428571,45241
3,1,12 St Samson's Court|| Balgriffin|| Dublin 13,0,Dublin 13,53.408221,-6.172689,0.713333,4382.428571,45241
4,1,13 Orchard Way|| Ayrfield|| Dublin 13,0,Dublin 13,53.397731,-6.179637,0.700000,4382.428571,45241
...,...,...,...,...,...,...,...,...,...
358,1,84 Raheny Park|| Raheny|| Raheny|| Dublin 5,0,Dublin 5,53.377911,-6.168338,0.693333,4762.142857,39217
359,1,87 Bettyglen|| Raheny|| Dublin 5,0,Dublin 5,53.378335,-6.160292,0.626667,4762.142857,39217
360,1,79 The Steeples|| Chapelizod|| Dublin 20,0,Dublin 20,53.342320,-6.339600,0.456400,2616.000000,14202
361,1,Mount Carmel Bungalow|| Old Lucan Road|| Palme...,0,Dublin 20,53.356664,-6.392968,0.640000,2616.000000,14202
362,1,Apartment 45|| Block A|| Bellevue|| Dublin 8,0,Dublin 8,53.346538,-6.311958,0.746667,9050.166667,51110

In [38]:
retail_prediction.sort_values(by='Density_km2',ascending=False,inplace=True)

In [39]:
retail_prediction.to_excel("Retail_prediction_population_density.xlsx",index=False)

In [66]:
retail_location_blanch = pd.read_excel("Retail_prediction_population_density_Blanch.xlsx")

In [68]:
retail_location_blanch

,Cluster Labels,Location,Retail_stores,Area,property_latitude,property_longitude,Predicted_distance,Density_km2,Population
0,1,11 Inglewood Road|| Clonsilla|| Dublin 15,0,Dublin 15,53.390757,-6.409060,0.646667,3247.833333,112066
1,1,132 Lohunda Downs|| Clonsilla|| Blanchardstown...,0,Dublin 15,53.388462,-6.403396,0.573333,3247.833333,112066
2,1,126 Hazelbury Green|| Clonee|| Clonee|| Dublin 15,0,Dublin 15,53.401931,-6.433323,0.490667,3247.833333,112066
3,1,12 Portersgate Drive|| Clonsilla|| Clonsilla||...,0,Dublin 15,53.386412,-6.423903,0.720000,3247.833333,112066
4,1,114 Waterville Terrace|| Blanchardstown|| Blan...,0,Dublin 15,53.392132,-6.372043,0.573333,3247.833333,112066
5,1,101 Allendale Square|| Clonsilla|| Dublin 15,0,Dublin 15,53.389826,-6.427479,0.713333,3247.833333,112066
6,1,11 Aldemere Close|| Clonsilla|| Dublin 15,0,Dublin 15,53.386874,-6.426989,0.693333,3247.833333,112066
7,1,18 Castlegrange Dale|| Clonsilla|| Dublin 15,0,Dublin 15,53.399356,-6.428349,0.746667,3247.833333,112066
8,1,36 Woodbrook Court|| Castleknock|| Dublin 15,0,Dublin 15,53.375927,-6.404871,0.540000,3247.833333,112066
9,1,37 Waterville Row|| Blanchardstown|| Dublin 15,0,Dublin 15,53.392306,-6.377212,0.633333,3247.833333,112066
10,1,35 Waterville Hall|| Waterville|| Blanchardsto...,0,Dublin 15,53.391962,-6.375607,0.633333,3247.833333,112066
11,1,14 Riverwood Heath|| Castleknock|| Dublin 15,0,Dublin 15,53.374914,-6.401228,0.580000,3247.833333,112066
12,1,19 Woodbrook Park|| Castleknock|| Dublin 15,0,Dublin 15,53.376541,-6.402016,0.560000,3247.833333,112066
13,1,142 Waterville Terrace|| Waterville|| Blanchar...,0,Dublin 15,53.392273,-6.370965,0.580000,3247.833333,112066
14,1,16 Brandon Square|| Waterville|| Blanchardstow...,0,Dublin 15,53.392092,-6.366591,0.566667,3247.833333,112066
15,1,14 Waterville Terrace|| Blanchardstown|| Dubli...,0,Dublin 15,53.392079,-6.374885,0.606667,3247.833333,112066
16,1,18 Deerpark Lawn|| Castleknock|| Dublin 15,0,Dublin 15,53.372673,-6.346144,0.575000,3247.833333,112066
17,1,3 Mount Garrett Rise|| Tyrellstown|| Tyrrelsto...,0,Dublin 15,53.421438,-6.394332,0.740000,3247.833333,112066
18,1,33 Luttrellstown Grove|| Castleknock|| Castlek...,0,Dublin 15,53.370798,-6.398873,0.713333,3247.833333,112066
19,1,32 Barnwell Grove|| Hansfield|| Clonsilla|| Du...,0,Dublin 15,53.389765,-6.443658,0.450667,3247.833333,112066
20,1,34 Portersgate Heights|| Clonsilla|| Clonsilla...,0,Dublin 15,53.386990,-6.420389,0.733333,3247.833333,112066
21,1,24 Bracken Park Drive|| Carpenterstown Road|| ...,0,Dublin 15,53.372990,-6.376933,0.620000,3247.833333,112066
22,1,23 Castlegrange Green|| Castaheany|| Clonsilla...,0,Dublin 15,53.398598,-6.429061,0.686667,3247.833333,112066
23,1,The Old School House|| Strawberry Beds|| Castl...,0,Dublin 15,53.361946,-6.395311,0.660000,3247.833333,112066
24,1,37 Annfield Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.374369,-6.406924,0.566667,3247.833333,112066
25,1,21 Annfield Drive|| Castleknock|| Castleknock|...,0,Dublin 15,53.374734,-6.405423,0.566667,3247.833333,112066
26,1,Apartment 16|| Malin Hall|| Waterville Terrace...,0,Dublin 15,53.392291,-6.369645,0.613333,3247.833333,112066
27,1,54 Allendale Square|| Clonsilla|| Clonsilla|| ...,0,Dublin 15,53.388853,-6.426407,0.693333,3247.833333,112066
28,1,9 Woodbrook Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.377092,-6.402422,0.513333,3247.833333,112066
29,1,6 Woodbrook Court.|| Castleknock|| Dublin 15,0,Dublin 15,53.376005,-6.403621,0.533333,3247.833333,112066
30,1,37 Achill Square|| Waterville|| Blanchardstown...,0,Dublin 15,53.392520,-6.367150,0.613333,3247.833333,112066
31,1,38 Woodbrook Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.377435,-6.401769,0.540000,3247.833333,112066
32,1,4 Castlegrange Gardens|| Castaheany.|| D15RH93...,0,Dublin 15,53.398656,-6.430342,0.626667,3247.833333,112066
33,1,4 Farmleigh View|| Castleknock|| Dublin 15,0,Dublin 15,53.368400,-6.360786,0.733333,3247.833333,112066
34,1,41 Woodbrook Court|| Castleknock|| Dublin 15,0,Dublin 15,53.375807,-6.404486,0.566667,3247.833333,112066
35,1,42 Tory Square|| Blanchardstown|| Dublin 15,0,Dublin 15,53.393264,-6.377090,0.613333,3247.833333,112066
36,1,44 Portersgate Court|| Clonsilla|| Dublin 15,0,Dublin 15,53.384989,-6.421631,0.720000,3247.833333,112066
37,1,46 Tory Square|| Waterville|| Blanchardstown||...,0,Dublin 15,53.393392,-6.376929,0.613333,3247.833333,112066
38,1,5 Fernleigh Green|| Castleknock|| Dublin 15,0,Dublin 15,53.373419,-6.401861,0.580000,3247.833333,112066
39,1,41 Beechfield Close|| Clonee|| Dublin 15,0,Dublin 15,53.402404,-6.439278,0.450667,3247.833333,112066
40,1,59 Allendale Drive|| Clonsilla|| Dublin 15,0,Dublin 15,53.392039,-6.429491,0.673333,3247.833333,112066
41,1,6 Riverwood Glen|| Castleknock|| Dublin 15,0,Dublin 15,53.375333,-6.398905,0.706667,3247.833333,112066
42,1,66 Waterville Terrace|| Waterville|| Blanchard...,0,Dublin 15,53.392075,-6.372930,0.573333,3247.833333,112066
43,1,7 Castlegrange Dale|| Castaheany|| Clonsilla||...,0,Dublin 15,53.398682,-6.428067,0.713333,3247.833333,112066
44,1,7 Fernleigh Grove|| Carpenterstown|| Castlekno...,0,Dublin 15,53.371937,-6.401879,0.580000,3247.833333,112066
45,1,7 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.366873,-6.401706,0.626667,3247.833333,112066
46,1,7 Redwood|| Hollystown|| Dublin 15,0,Dublin 15,53.428927,-6.376133,0.486667,3247.833333,112066
47,1,8 Beechfield Green|| Clonee|| Dublin 15,0,Dublin 15,53.403266,-6.437020,0.450667,3247.833333,112066
48,1,9 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.366540,-6.400727,0.646667,3247.833333,112066
49,1,9 Fernleigh Vale|| Castleknock|| Dublin 15,0,Dublin 15,53.373576,-6.404365,0.580000,3247.833333,112066
50,1,6 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.367423,-6.400902,0.646667,3247.833333,112066

In [144]:
# import math
# lat1=math.radians(53.390757)
# lon1=math.radians(-6.409060)
# theta=math.pi
# angdist=math.radians(0.646667/6378.137)
# R=6378.137
# lat2=math.degrees((math.asin(((math.sin(lat1))*(math.cos(angdist)))+((math.cos(lat1))*(math.sin(angdist))*(math.cos(theta))))))
# lon2=(math.degrees(lon1+(math.atan2((math.sin(theta)* math.sin(angdist)*(math.cos(lat1))),((math.cos(angdist)-((math.sin(lat1))*(math.sin(lat2)))))))))
# print(lat2)
# print(lon2)
# # print(math.pi)

53.3906556119301
-6.40906

In [177]:
import math
lat1 = (53.390757 * math.pi) / 180
lon1 = (-6.409060 * math.pi) / 180
R = 6371
angdist = 0.646667 / R
theta =  math.pi/2
#   else if (nsew == â€˜Sâ€™) theta = math.pi;
#   else if (nsew == â€˜Eâ€™) theta = math.pi / 2;
#   else if (nsew == â€˜Wâ€™) theta = 3 * math.pi / 2;
Resultlat1 = math.asin(math.sin(lat1) * math.cos(angdist) +math.cos(lat1) * math.sin(angdist) * math.cos(theta))
angdistlon1 = math.atan2((math.sin(theta) * math.sin(angdist) *math.cos(lat1)), (math.cos(angdist)-(math.sin(lat1)) * math.sin(lat1)))
Resultlon1 = ((lon1 + angdistlon1 + math.pi) % (2 * math.pi))-math.pi
lat12 = (Resultlat1 * 180) / math.pi
lon12 = (Resultlon1 * 180) / math.pi
print(lat12)
print(lon12)

53.39075660271773
-6.399308053374691

In [53]:
# a=distance((53.368056,-6.265257),(53.377039152841206,-6.265257))
# a

1.063260917953275

In [46]:
def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [174]:
n=len(retail_location_blanch)
i=0
north_limit_list=[]
east_limit_list=[]
south_limit_list=[]
west_limit_list=[]
west_count=0
north_count_list=[]
east_count_list=[]
south_count_list=[]
west_count_list=[]
while(i<n):
    lat1=(retail_location_blanch.property_latitude[i]*math.pi)/180
    lon1=(retail_location_blanch.property_longitude[i]*math.pi)/180
    R=6371
    theta=0
    angdist=(retail_location_blanch.Predicted_distance[i]/R)
    Resultlat1 = math.asin(math.sin(lat1) * math.cos(angdist) +math.cos(lat1) * math.sin(angdist) * math.cos(theta))
    angdistlon1 = math.atan2((math.sin(theta) * math.sin(angdist) *math.cos(lat1)), (math.cos(angdist)-(math.sin(lat1)) * math.sin(lat1)))
    Resultlon1 = ((lon1 + angdistlon1 + math.pi) % (2 * math.pi))-math.pi
    lat2 = (Resultlat1 * 180) / math.pi
    lon2 = (Resultlon1 * 180) / math.pi
    north_limit_list.append([round(lat2,5),round(lon2,5)])
    j=0
    north_count=0
    while(j<n):
        if(distance((retail_location_blanch.property_latitude[j],retail_location_blanch.property_longitude[j]),(lat2,lon2))<1.0):
            north_count = north_count+1
        j=j+1
    north_count_list.append(north_count)
    theta=math.pi/2
    Resultlat1 = math.asin(math.sin(lat1) * math.cos(angdist) +math.cos(lat1) * math.sin(angdist) * math.cos(theta))
    angdistlon1 = math.atan2((math.sin(theta) * math.sin(angdist) *math.cos(lat1)), (math.cos(angdist)-(math.sin(lat1)) * math.sin(lat1)))
    Resultlon1 = ((lon1 + angdistlon1 + math.pi) % (2 * math.pi))-math.pi
    lat2 = (Resultlat1 * 180) / math.pi
    lon2 = (Resultlon1 * 180) / math.pi
    east_limit_list.append([round(lat2,5),round(lon2,5)])
    j=0
    east_count=0
    while(j<n):
        if(distance((retail_location_blanch.property_latitude[j],retail_location_blanch.property_longitude[j]),(lat2,lon2))<1.0):
            east_count = east_count+1
        j=j+1
    east_count_list.append(east_count)
    theta=math.pi
    Resultlat1 = math.asin(math.sin(lat1) * math.cos(angdist) +math.cos(lat1) * math.sin(angdist) * math.cos(theta))
    angdistlon1 = math.atan2((math.sin(theta) * math.sin(angdist) *math.cos(lat1)), (math.cos(angdist)-(math.sin(lat1)) * math.sin(lat1)))
    Resultlon1 = ((lon1 + angdistlon1 + math.pi) % (2 * math.pi))-math.pi
    lat2 = (Resultlat1 * 180) / math.pi
    lon2 = (Resultlon1 * 180) / math.pi
    south_limit_list.append([round(lat2,5),round(lon2,5)])
    j=0
    south_count=0
    while(j<n):
        if(distance((retail_location_blanch.property_latitude[j],retail_location_blanch.property_longitude[j]),(lat2,lon2))<1.0):
            south_count = south_count+1
        j=j+1
    south_count_list.append(south_count)
    theta=3 * math.pi / 2
    Resultlat1 = math.asin(math.sin(lat1) * math.cos(angdist) +math.cos(lat1) * math.sin(angdist) * math.cos(theta))
    angdistlon1 = math.atan2((math.sin(theta) * math.sin(angdist) *math.cos(lat1)), (math.cos(angdist)-(math.sin(lat1)) * math.sin(lat1)))
    Resultlon1 = ((lon1 + angdistlon1 + math.pi) % (2 * math.pi))-math.pi
    lat2 = (Resultlat1 * 180) / math.pi
    lon2 = (Resultlon1 * 180) / math.pi
    west_limit_list.append([round(lat2,5),round(lon2,5)])
    j=0
    west_count=0
    while(j<n):
        if(distance((retail_location_blanch.property_latitude[j],retail_location_blanch.property_longitude[j]),(lat2,lon2))<1.0):
            west_count = west_count+1
        j=j+1
    west_count_list.append(west_count)
    i=i+1
west_limit_list

[[53.39076, -6.41881],
 [53.38846, -6.41204],
 [53.40193, -6.44072],
 [53.38641, -6.43476],
 [53.39213, -6.38069],
 [53.38983, -6.43824],
 [53.38687, -6.43744],
 [53.39935, -6.43961],
 [53.37593, -6.41301],
 [53.39231, -6.38676],
 [53.39196, -6.38516],
 [53.37491, -6.40997],
 [53.37654, -6.41046],
 [53.39227, -6.37971],
 [53.39209, -6.37514],
 [53.39208, -6.38403],
 [53.37267, -6.35481],
 [53.42144, -6.4055],
 [53.3708, -6.40963],
 [53.38976, -6.45045],
 [53.38699, -6.43145],
 [53.37299, -6.38628],
 [53.3986, -6.43942],
 [53.36195, -6.40526],
 [53.37437, -6.41547],
 [53.37473, -6.41397],
 [53.39229, -6.37889],
 [53.38885, -6.43686],
 [53.37709, -6.41016],
 [53.376, -6.41166],
 [53.39252, -6.3764],
 [53.37743, -6.40991],
 [53.39866, -6.43979],
 [53.3684, -6.37184],
 [53.37581, -6.41303],
 [53.39326, -6.38634],
 [53.38499, -6.43249],
 [53.39339, -6.38618],
 [53.37342, -6.4106],
 [53.4024, -6.44608],
 [53.39204, -6.43965],
 [53.37533, -6.40956],
 [53.39207, -6.38158],
 [53.39868, -6.43883],
 [53.37194, -6.41062],
 [53.36687, -6.41115],
 [53.42893, -6.38348],
 [53.40327, -6.44382],
 [53.36654, -6.41047],
 [53.37358, -6.41311],
 [53.36742, -6.41065]]

In [175]:
retail_location_blanch['North_side_count']=north_count_list
retail_location_blanch['East_side_count']=east_count_list
retail_location_blanch['South_side_count'] = south_count_list
retail_location_blanch['West_side_count'] = west_count_list
retail_location_blanch['North_side_coordinates']=north_limit_list
retail_location_blanch['East_side_coordinates']=east_limit_list
retail_location_blanch['South_side_coordinates'] = south_limit_list
retail_location_blanch['West_side_coordinates'] = west_limit_list
retail_location_blanch
# retail_location_blanch.drop(columns=['North_side_count'],inplace=True)

,Cluster Labels,Location,Retail_stores,Area,property_latitude,property_longitude,Predicted_distance,Density_km2,Population,North_side_count,East_side_count,South_side_count,West_side_count,North_side_coordinates,East_side_coordinates,South_side_coordinates,West_side_coordinates
0,1,11 Inglewood Road|| Clonsilla|| Dublin 15,0,Dublin 15,53.390757,-6.409060,0.646667,3247.833333,112066,2,2,7,8,"[53.39657, -6.40906]","[53.39076, -6.39931]","[53.38494, -6.40906]","[53.39076, -6.41881]"
1,1,132 Lohunda Downs|| Clonsilla|| Blanchardstown...,0,Dublin 15,53.388462,-6.403396,0.573333,3247.833333,112066,2,2,11,6,"[53.39362, -6.4034]","[53.38846, -6.39475]","[53.38331, -6.4034]","[53.38846, -6.41204]"
2,1,126 Hazelbury Green|| Clonee|| Clonee|| Dublin 15,0,Dublin 15,53.401931,-6.433323,0.490667,3247.833333,112066,7,7,9,7,"[53.40634, -6.43332]","[53.40193, -6.42592]","[53.39752, -6.43332]","[53.40193, -6.44072]"
3,1,12 Portersgate Drive|| Clonsilla|| Clonsilla||...,0,Dublin 15,53.386412,-6.423903,0.720000,3247.833333,112066,11,7,4,8,"[53.39289, -6.4239]","[53.38641, -6.41305]","[53.37994, -6.4239]","[53.38641, -6.43476]"
4,1,114 Waterville Terrace|| Blanchardstown|| Blan...,0,Dublin 15,53.392132,-6.372043,0.573333,3247.833333,112066,11,11,11,11,"[53.39729, -6.37204]","[53.39213, -6.3634]","[53.38698, -6.37204]","[53.39213, -6.38069]"
5,1,101 Allendale Square|| Clonsilla|| Dublin 15,0,Dublin 15,53.389826,-6.427479,0.713333,3247.833333,112066,8,9,7,5,"[53.39624, -6.42748]","[53.38983, -6.41672]","[53.38341, -6.42748]","[53.38983, -6.43824]"
6,1,11 Aldemere Close|| Clonsilla|| Dublin 15,0,Dublin 15,53.386874,-6.426989,0.693333,3247.833333,112066,11,8,5,6,"[53.39311, -6.42699]","[53.38687, -6.41653]","[53.38064, -6.42699]","[53.38687, -6.43744]"
7,1,18 Castlegrange Dale|| Clonsilla|| Dublin 15,0,Dublin 15,53.399356,-6.428349,0.746667,3247.833333,112066,7,4,11,7,"[53.40607, -6.42835]","[53.39935, -6.41709]","[53.39264, -6.42835]","[53.39935, -6.43961]"
8,1,36 Woodbrook Court|| Castleknock|| Dublin 15,0,Dublin 15,53.375927,-6.404871,0.540000,3247.833333,112066,13,15,17,13,"[53.38078, -6.40487]","[53.37593, -6.39673]","[53.37107, -6.40487]","[53.37593, -6.41301]"
9,1,37 Waterville Row|| Blanchardstown|| Dublin 15,0,Dublin 15,53.392306,-6.377212,0.633333,3247.833333,112066,11,11,11,7,"[53.398, -6.37721]","[53.39231, -6.36766]","[53.38661, -6.37721]","[53.39231, -6.38676]"
10,1,35 Waterville Hall|| Waterville|| Blanchardsto...,0,Dublin 15,53.391962,-6.375607,0.633333,3247.833333,112066,11,11,11,8,"[53.39766, -6.37561]","[53.39196, -6.36606]","[53.38627, -6.37561]","[53.39196, -6.38516]"
11,1,14 Riverwood Heath|| Castleknock|| Dublin 15,0,Dublin 15,53.374914,-6.401228,0.580000,3247.833333,112066,14,14,18,14,"[53.38013, -6.40123]","[53.37491, -6.39248]","[53.3697, -6.40123]","[53.37491, -6.40997]"
12,1,19 Woodbrook Park|| Castleknock|| Dublin 15,0,Dublin 15,53.376541,-6.402016,0.560000,3247.833333,112066,13,14,17,14,"[53.38158, -6.40202]","[53.37654, -6.39357]","[53.3715, -6.40202]","[53.37654, -6.41046]"
13,1,142 Waterville Terrace|| Waterville|| Blanchar...,0,Dublin 15,53.392273,-6.370965,0.580000,3247.833333,112066,11,11,11,11,"[53.39749, -6.37097]","[53.39227, -6.36222]","[53.38706, -6.37097]","[53.39227, -6.37971]"
14,1,16 Brandon Square|| Waterville|| Blanchardstow...,0,Dublin 15,53.392092,-6.366591,0.566667,3247.833333,112066,11,6,11,11,"[53.39719, -6.36659]","[53.39209, -6.35805]","[53.387, -6.36659]","[53.39209, -6.37514]"
15,1,14 Waterville Terrace|| Blanchardstown|| Dubli...,0,Dublin 15,53.392079,-6.374885,0.606667,3247.833333,112066,11,11,11,9,"[53.39753, -6.37488]","[53.39208, -6.36574]","[53.38662, -6.37488]","[53.39208, -6.38403]"
16,1,18 Deerpark Lawn|| Castleknock|| Dublin 15,0,Dublin 15,53.372673,-6.346144,0.575000,3247.833333,112066,1,1,2,2,"[53.37784, -6.34614]","[53.37267, -6.33748]","[53.3675, -6.34614]","[53.37267, -6.35481]"
17,1,3 Mount Garrett Rise|| Tyrellstown|| Tyrrelsto...,0,Dublin 15,53.421438,-6.394332,0.740000,3247.833333,112066,1,2,1,1,"[53.42809, -6.39433]","[53.42144, -6.38316]","[53.41478, -6.39433]","[53.42144, -6.4055]"
18,1,33 Luttrellstown Grove|| Castleknock|| Castlek...,0,Dublin 15,53.370798,-6.398873,0.713333,3247.833333,112066,14,8,6,17,"[53.37721, -6.39887]","[53.3708, -6.38812]","[53.36438, -6.39887]","[53.3708, -6.40963]"
19,1,32 Barnwell Grove|| Hansfield|| Clonsilla|| Du...,0,Dublin 15,53.389765,-6.443658,0.450667,3247.833333,112066,3,6,1,1,"[53.39382, -6.44366]","[53.38976, -6.43686]","[53.38571, -6.44366]","[53.38976, -6.45045]"
20,1,34 Portersgate Heights|| Clonsilla|| Clonsilla...,0,Dublin 15,53.386990,-6.420389,0.733333,3247.833333,112066,12,5,4,8,"[53.39359, -6.42039]","[53.38699, -6.40933]","[53.38039, -6.42039]","[53.38699, -6.43145]"
21,1,24 Bracken Park Drive|| Carpenterstown Road|| ...,0,Dublin 15,53.372990,-6.376933,0.620000,3247.833333,112066,1,2,1,3,"[53.37857, -6.37693]","[53.37299, -6.36759]","[53.36741, -6.37693]","[53.37299, -6.38628]"
22,1,23 Castlegrange Green|| Castaheany|| Clonsilla...,0,Dublin 15,53.398598,-6.429061,0.686667,3247.833333,112066,7,4,11,8,"[53.40477, -6.42906]","[53.3986, -6.4187]","[53.39242, -6.42906]","[53.3986, -6.43942]"
23,1,The Old School House|| Strawberry Beds|| Castl...,0,Dublin 15,53.361946,-6.395311,0.660000,3247.833333,112066,10,1,1,4,"[53.36788, -6.39531]","[53.36195, -6.38536]","[53.35601, -6.39531]","[53.36195, -6.40526]"
24,1,37 Annfield Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.374369,-6.406924,0.566667,3247.833333,112066,13,17,17,12,"[53.37947, -6.40692]","[53.37437, -6.39838]","[53.36927, -6.40692]","[53.37437, -6.41547]"
25,1,21 Annfield Drive|| Castleknock|| Castleknock|...,0,Dublin 15,53.374734,-6.405423,0.566667,3247.833333,112066,14,17,17,12,"[53.37983, -6.40542]","[53.37473, -6.39688]","[53.36964, -6.40542]","[53.37473, -6.41397]"
26,1,Apartment 16|| Malin Hall|| Waterville Terrace...,0,Dublin 15,53.392291,-6.369645,0.613333,3247.833333,112066,11,7,11,11,"[53.39781, -6.36965]","[53.39229, -6.3604]","[53.38678, -6.36965]","[53.39229, -6.37889]"
27,1,54 Allendale Square|| Clonsilla|| Clonsilla|| ...,0,Dublin 15,53.388853,-6.426407,0.693333,3247.833333,112066,11,9,6,6,"[53.39509, -6.42641]","[53.38885, -6.41595]","[53.38262, -6.42641]","[53.38885, -6.43686]"
28,1,9 Woodbrook Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.377092,-6.402422,0.513333,3247.833333,112066,13,14,17,13,"[53.38171, -6.40242]","[53.37709, -6.39468]","[53.37248, -6.40242]","[53.37709, -6.41016]"
29,1,6 Woodbrook Court.|| Castleknock|| Dublin 15,0,Dublin 15,53.376005,-6.403621,0.533333,3247.833333,112066,14,14,17,13,"[53.3808, -6.40362]","[53.376, -6.39558]","[53.37121, -6.40362]","[53.376, -6.41166]"
30,1,37 Achill Square|| Waterville|| Blanchardstown...,0,Dublin 15,53.392520,-6.367150,0.613333,3247.833333,112066,11,6,11,11,"[53.39804, -6.36715]","[53.39252, -6.3579]","[53.387, -6.36715]","[53.39252, -6.3764]"
31,1,38 Woodbrook Crescent|| Castleknock|| Dublin 15,0,Dublin 15,53.377435,-6.401769,0.540000,3247.833333,112066,13,14,17,13,"[53.38229, -6.40177]","[53.37743, -6.39363]","[53.37258, -6.40177]","[53.37743, -6.40991]"
32,1,4 Castlegrange Gardens|| Castaheany.|| D15RH93...,0,Dublin 15,53.398656,-6.430342,0.626667,3247.833333,112066,7,6,11,7,"[53.40429, -6.43034]","[53.39866, -6.42089]","[53.39302, -6.43034]","[53.39866, -6.43979]"
33,1,4 Farmleigh View|| Castleknock|| Dublin 15,0,Dublin 15,53.368400,-6.360786,0.733333,3247.833333,112066,1,2,1,2,"[53.375, -6.36079]","[53.3684, -6.34973]","[53.3618, -6.36079]","[53.3684, -6.37184]"
34,1,41 Woodbrook Court|| Castleknock|| Dublin 15,0,Dublin 15,53.375807,-6.404486,0.566667,3247.833333,112066,13,15,17,13,"[53.3809, -6.40449]","[53.37581, -6.39594]","[53.37071, -6.40449]","[53.37581, -6.41303]"
35,1,42 Tory Square|| Blanchardstown|| Dublin 15,0,Dublin 15,53.393264,-6.377090,0.613333,3247.833333,112066,10,11,11,7,"[53.39878, -6.37709]","[53.39326, -6.36784]","[53.38775, -6.37709]","[53.39326, -6.38634]"
36,1,44 Portersgate Court|| Clonsilla|| Dublin 15,0,Dublin 15,53.384989,-6.421631,0.720000,3247.833333,112066,12,5,4,8,"[53.39146, -6.42163]","[53.38499, -6.41077]","[53.37851, -6.42163]","[53.38499, -6.43249]"
37,1,46 Tory Square|| Waterville|| Blanchardstown||...,0,Dublin 15,53.393392,-6.376929,0.613333,3247.833333,112066,10,11,11,7,"[53.39891, -6.37693]","[53.39339, -6.36768]","[53.38788, -6.37693]","[53.39339, -6.38618]"
38,1,5 Fernleigh Green|| Castleknock|| Dublin 15,0,Dublin 15,53.373419,-6.401861,0.580000,3247.833333,112066,14,17,17,16,"[53.37863, -6.40186]","[53.37342, -6.39312]","[53.3682, -6.40186]","[53.37342, -6.4106]"
39,1,41 Beechfield Close|| Clonee|| Dublin 15,0,Dublin 15,53.402404,-6.439278,0.450667,3247.833333,112066,3,7,9,3,"[53.40646, -6.43928]","[53.4024, -6.43248]","[53.39835, -6.43928]","[53.4024, -6.44608]"
40,1,59 Allendale Drive|| Clonsilla|| Dublin 15,0,Dublin 15,53.392039,-6.429491,0.673333,3247.833333,112066,9,10,7,5,"[53.39809, -6.42949]","[53.39204, -6.41934]","[53.38598, -6.42949]","[53.39204, -6.43965]"
41,1,6 Riverwood Glen|| Castleknock|| Dublin 15,0,Dublin 15,53.375333,-6.398905,0.706667,3247.833333,112066,13,9,18,14,"[53.38169, -6.39891]","[53.37533, -6.38825]","[53.36898, -6.39891]","[53.37533, -6.40956]"
42,1,66 Waterville Terrace|| Waterville|| Blanchard...,0,Dublin 15,53.392075,-6.372930,0.573333,3247.833333,112066,11,11,11,11,"[53.39723, -6.37293]","[53.39207, -6.36428]","[53.38692, -6.37293]","[53.39207, -6.38158]"
43,1,7 Castlegrange Dale|| Castaheany|| Clonsilla||...,0,Dublin 15,53.398682,-6.428067,0.713333,3247.833333,112066,7,4,11,8,"[53.4051, -6.42807]","[53.39868, -6.41731]","[53.39227, -6.42807]","[53.39868, -6.43883]"
44,1,7 Fernleigh Grove|| Carpenterstown|| Castlekno...,0,Dublin 15,53.371937,-6.401879,0.580000,3247.833333,112066,14,17,12,17,"[53.37715, -6.40188]","[53.37194, -6.39314]","[53.36672, -6.40188]","[53.37194, -6.41062]"
45,1,7 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.366873,-6.401706,0.626667,3247.833333,112066,17,7,4,9,"[53.37251, -6.40171]","[53.36687, -6.39226]","[53.36124, -6.40171]","[53.36687, -6.41115]"
46,1,7 Redwood|| Hollystown|| Dublin 15,0,Dublin 15,53.428927,-6.376133,0.486667,3247.833333,112066,1,1,1,1,"[53.4333, -6.37613]","[53.42893, -6.36879]","[53.42455, -6.37613]","[53.42893, -6.38348]"
47,1,8 Beechfield Green|| Clonee|| Dublin 15,0,Dublin 15,53.403266,-6.437020,0.450667,3247.833333,112066,3,7,8,3,"[53.40732, -6.43702]","[53.40327, -6.43022]","[53.39921, -6.43702]","[53.40327, -6.44382]"
48,1,9 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.366540,-6.400727,0.646667,3247.833333,112066,17,6,4,9,"[53.37236, -6.40073]","[53.36654, -6.39098]","[53.36072, -6.40073]","[53.36654, -6.41047]"
49,1,9 Fernleigh Vale|| Castleknock|| Dublin 15,0,Dublin 15,53.373576,-6.404365,0.580000,3247.833333,112066,14,17,17,14,"[53.37879, -6.40436]","[53.37358, -6.39562]","[53.36836, -6.40436]","[53.37358, -6.41311]"
50,1,6 Homeleigh|| Porterstown|| Castleknock|| Dubl...,0,Dublin 15,53.367423,-6.400902,0.646667,3247.833333,112066,17,7,4,9,"[53.37324, -6.4009]","[53.36742, -6.39116]","[53.36161, -6.4009]","[53.36742, -6.41065]"

In [176]:
retail_location_blanch.to_excel("Retail_final_location_placement.xlsx",index=False)